@font-face {
  src: url(data:font/ttf;base64,AAEAAAAKAIAAAwAgT1MvMg8SHNkAAAEoAAAAYGNtYXAADAA3AAABnAAAACxnbHlmEX3vbQAAAdQAAAMGaGVhZC3LtLoAAACsAAAANmhoZWEJgwi/AAAA5AAAACRobXR4GwAEAAAAAYgAAAAUbG9jYQGCArIAAAHIAAAADG1heHAACgBYAAABCAAAACBuYW1lAAYAAAAABNwAAAAGcG9zdAADAAAAAATkAAAAIAABAAAAAAAAvJjymV8PPPUACQLEAAAAAOUXkAcAAAAA5RfhTQAr/38EVQQmAAAACAACAAAAAAAAAAEAAAPA/8AAAAgAAAAA+QXBAAEAAAAAAAAAAAAAAAAAAAAFAAEAAAAFAFYABAAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAwOrAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAAEABAPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAEAAAABAAAAAUAAAAGAAIACAACAAAAAAEAAwABAAAADAAEACAAAAAEAAQAAQAAAAT//wAAAAH//wAAAAEAAAAAAAAAUgB8AN0BBgGDAAMAgP+vA4cChAATABcAMQAAASM3NiYjIgYHAyMRITI2NxM2JiMBIxEzBQMGBiMhERM2NjMyFhcWFg8CMzIWFxYWBwMhtUEKLCUTIgz6qwJoIjQHOQk5Lf4KgIACKTkDHRP+be8GEgoIDgQDAwJBEe4OFwcFBgMBWtIhNw4N/vH+VSceAQAnP/6AAVUy/wAPFAFvAQMGCAcGAwoH0zcKCgQQCgAAAgCA/68DhwKEAAMAFgAAEzMRIwEjNzYmIyIGBwMRITI2NxM2JiOAgIACobVBCiwlEyIM+gG9IjQHOQk5LQFa/lUBq9IhNw4N/vH+VSceAQAnPwAABAAr/6UD1QIlAA8AHwAwAEAAACUyNzY1NCcmIyIHBhUUFxY3IicmNTQ3NjMyFxYVFAcGByInJic2NzYzMhcWFwYHBiM1Mjc2NyYnJiMiBwYHFhcWAgBQODg4OFBQODg4OFAwIiEhIjAwIiEhIjCcgIA5OYCAnJyAgDk5gICceWRlNTVlZHl5ZGU1NWVkJTg4UFA4ODg4UFA4OE0iITAwIiIiIjAwISLNV1eSkldXV1eSkldXVj9Aa2xAPz9AbGtAPwACAET/fwLvAioAEQAXAAAXETQ3NjMhMhcWFREUBwYjIQc3IREhETdEFBQdAiEdFBQUFB3+I4lsAfr93yeBAmYdFBQUFB3+ZxwUFInNAZn+QCcAAgCU/5kEVQQmADIAVQAABSInJicBNzY3NhcXETQ3NjMyFxYVEScXFhcWMyEyNzY1NTQnJiMhNSEyFxYVFRQHBiMhASYnJjU0NzYzMhcWFRQHBgcnNjc2NTQnJiMiBwYVFBcWFwcCRSciIRj+0RodJyYhZxARFxcREIaQCAwKDQEzLSEgDxEY/tIBLkcwMEFBW/7N/qISCQpSUHRyUlEJCxJfCwUGMTBFRjAwBQUMYWcSER0BgRseBQUUPwHHGA8REQ8Y/XNTuQoGBSEgLt4XEBBvMTBF3ltDQQLtHyMkJXRRUFBRdCUkIx84FBMVF0UyMDAyRRcVExQ4AAAAAAAAAAYAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA);
  font-family: a
}
:root {
  width: 100%;
  max-width: 600;
  height: 100%;
  margin: 16px auto 8px;
  padding: 0+8px+0+56px;
  background-color: #111;
  box-sizing: border-box;
  overflow-y: scroll;
  font-size: 14px;
  font-family: a,arial;
  color: #eee;
  tab-size: 80px;
  white-space: pre-wrap;
  word-break: break-all
}
:first-line {
  font-size: 12px;
  color: #ccc
}
.C {
  display: block;
  margin-left: 48px
}
.P {
  color: #eee
}
C {
  display: block;
  margin-top: 24px;
  line-height: 20px
}
C:last-child {
  content-visibility: auto
}
img {
  display: block;
  margin: -20px+0-40px -48px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  user-select: none
}
s {
  display: contents;
  font-size: 12px;
  color: #bbb
}
u {
  display: contents;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  user-select: none
}
a {
  display: contents;
  font-size: 12px;
  color: #eee
}
title {
  display: flex;
  margin: -76px+0+0+80px;
  font-weight: 600
}
p {
  display: contents;
  color: #999;
  cursor: pointer
}