:root {
  width: 412px;
  margin: -16px auto 8px;
  padding-left: 56px;
  background-color: #111;
  font-size: 14px;
  font-family: math;
  color: #ddd;
  tab-size: 80px;
  white-space: pre-wrap;
  word-break: break-all;
  overflow-y: scroll
}
.r {
  display: flow;
  margin-left: 48px
}
.e {
  filter: unset
}
i {
  display: contents;
  line-height: 20px;
  font-style: unset
}
img {
  display: flow;
  margin: 24px 0 -40px -48px;
  width: 40px;
  border-radius: 20px;
  cursor: pointer;
  user-select: none
}
s {
  display: contents;
  font-size: 12px;
  color: #bbb
}
u {
  display: contents;
  contain: size;
  font-size: 15px;
  line-height: 32px;
  user-select: none;
  cursor: pointer
}
a {
  display: contents;
  font-size: 12px;
  color: #ddd
}
title {
  display: flow;
  margin-left: 80px;
  font-weight: 600
}
rt {
  float: right;
  font-size: 18px;
  filter: saturate(.5);
  cursor: pointer
}